<h1>Create new user</h1>

<a href="/users">Go back</a>

<form action="/users" method="post">
  <div>
    <label for="">Name:</label>
    <input type="text" name="user[name]" />
  </div>
  <div>
    <label for="">Nickname:</label>
    <input type="text" name="user[nickname]" />
  </div>
  <input type="submit" value="Create new user" />
</form>